{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-center minh-80">
        <div class=" border-b border-gray-200 ">
            <h1 class="text-6xl pt-12 pb-8">
                My profile
            </h1>
        </div>

            <div class="">
                <ul class=" lg:pt-0 list-reset items-center text-5xl">
                    <li class="mr-3">
                        <a class="inline-block text-black-300 no-underline hover:text-gray-400 hover:text-underline py-2 px-4" href="/profile/myreviews" @click="isOpen = false">My reviews</a>
                    </li>
                    <li class="mr-3 mt-4">
                        <a class="inline-block text-black-300 no-underline hover:text-gray-400 hover:text-underline py-2 px-4" href="/profile/edit" @click="isOpen = false">Edit Profile</a>
                    </li>
                <ul>
            </div>
    </div>
{% endblock %}
