{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
    <div class="w-4/5 minh-80">
        <div class="">
        </div>

        <div class="flex">

            <div id="sidebar" >
                <ul class=" lg:pt-0 list-reset items-left text-2xl">
                    <li><a href="/admin/users/view">User Management</a></li>
                    <li><a href="#" onclick="toggleSubmenu('contentSubMenu')">Content Management</a></li>
                    <ul id="contentSubMenu" class="submenu">
                        <li>-<a href="/admin/movie/view">Add/Edit/Remove Movies</a></li>
                        <li>-<a href="/admin/categories/view">Add/Edit/Remove Categories</a></li>
                        <li>-<a href="/admin/comments/view">Manage Comments</a></li>
                    </ul>

                    <li><a href="#" onclick="toggleSubmenu('analyticsSubMenu')">Analytics (in progress)</a></li>
                    {# <ul id="analyticsSubMenu" class="submenu">
                        <li>-Track User Activity</li>
                        <li>-Monitor Popular Movies</li>
                        <li>-Generate Reports</li>
                    </ul> #}

                    <li><a href="#" onclick="toggleSubmenu('customizationSubMenu')">Backups</a></li>
                    <ul id="customizationSubMenu" class="submenu active">
                        <li>- <a href="/admin/backup/create">Create a backup</a></li>
                        <li>- <a href="/admin/backup/restore">Restore a backup</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>

    <script>
        // Function to toggle submenu visibility
        function toggleSubmenu(submenuId) {
            var submenu = document.getElementById(submenuId);
            submenu.classList.toggle("active");
        }
    </script>
{% endblock %}
