{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-center minh-80">
        <div class="py-12 border-b border-gray-200 ">
            <h1 class="text-6xl pt-12 pb-8">
                Delete / Edit movie
            </h1>
        </div>
        <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15" id="resultsList">
            {% for movie in movies %}
                <div class="text-center pt-8 pb-4">
                    <h2 class="card-title text-gray-700 font-bold text-3xl py-2" style="min-height: 100px;">
                        <a href="/movies/{{ movie.id }}">
                            {{ movie.title }}
                        </a>
                    </h2>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a 
                        href="/movie/edit/{{ movie.id }}"
                        class="btn btn-outline-dark uppercasetext-lg rounded ml-6 rounded">
                        Edit Movie
                    </a>
                    <a 
                        href="/movie/delete/{{ movie.id }}"
                        class="btn btn-outline-dark uppercasetext-lg rounded ml-6 rounded">
                        Delete Movie
                    </a>
                    {% endif %}
                {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
