{% extends "./base.html.twig" %}

{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-6xl pt-12 pb-8">
                Contact
            </h1>
        </div>
    </div>

    <div class="w-4/5 m-auto" style="min-height: 54%">

    {{ form_start(contactForm) }}
            <div class="form-group row">
                <label for="email" class="bg-transparent block w-full h-20 text-6xl form-control-label">Email</label>
                {{ form_row(contactForm.email) }}
            </div>
            <div class="form-group row">
                <label for="message" class="bg-transparent block w-full h-20 text-6xl form-control-label">Message</label>
                {{ form_row(contactForm.content) }}
            </div>
            <button type="submit" class="btn btn-outline-dark uppercasetext-lg py-4 px-12 rounded mt-2">Send</button>
    {{ form_end(contactForm) }}

    </div>



{% endblock %}
